.button {
    background-color: brown;
    padding: 1em 2em;
    color: antiquewhite;
    border:0;

}

.button:hover{
    background:black;
}
.noModalDisplay{
 display: none;
}
.modal{
    position:fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: aliceblue;
    margin:20% auto;
    padding: 20px;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    text-align: left;
}

.closeBtn {
    color:#ccc;
    float:right;
    font-size:30px;
}
.closeBtn:hover,.closeBtn:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.myLine{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-left-width: 0px;
    background-color:aliceblue;
    padding:5px;
    margin-left: 10px;
    width: inherit;
}

.myLine:focus {
    border-bottom: 1px solid black;
    outline: none;
}
.myFont{
    font-weight: 500;
    font-style: italic;
}
.myDescription:focus{
    border-bottom: 1px solid black;
    outline: none;
}
.myDescription {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-left-width: 0px;
    background-color:aliceblue;
    padding:5px;
    vertical-align: top;
    resize: none;
    margin-bottom: 10px;
    width: inherit;
}
.myDescription[rows]:focus{
    border-bottom-width: 2px;
}
.myPriority{
    font-weight: 500;
    font-style: italic;
}
.myDatePicker,.myRight{
    float: right;
}

.myButtons,.mypridt{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.mypridt{
    justify-content: space-around;
}
.myPriority{
    float:left;
}
.myButton{
    background-color:darkolivegreen;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}